header {
    width: 100%;
    height: 12vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;

    position: sticky;
    top: 0;
    z-index: 100;

    background: var(--offwhite);

    transition: .3s;
}
.opacity {
    background: var(--offwhite-opacity);
    backdrop-filter: blur(7px);
}
.logo {
    width: 60px;
}
nav ul {
    display: flex;
    align-items: center;

    font-size: 22px;
    font-weight: 500;

    gap: 30px;
}
nav ul li {
    text-align: center;

    transition: .5s;
}
nav ul li:not(:last-child)::after {
    content: '';
    display: block;

    width: 0;
    height: 2px;

    background: var(--black);
    transition: .4s;
}
nav ul li:hover::after {
    width: 100%;
}
nav ul li:last-child a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    background: var(--black-2);
    width: 150px;
    height: 50px;

    border-radius: 50px;
}
  
nav ul li:last-child:hover {
    transform: scale(1.08);
}
