main section {
    position: relative;
    width: 80%;
    height: 100vh;

    margin-inline: 10%;
}

/* SECTION HOME */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    height: 88vh;

    z-index: 1;
}
.blur {
    position: absolute;
    border-radius: 50%;

    background: var(--green-opacity);
    z-index: -1;
}
.blur:nth-child(1) {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 80px;

    filter: blur(40px);
}
.blur:nth-child(2) {
    width: 450px;
    height: 450px;
    bottom: 80px;
    right: 10px;

    filter: blur(30px);
}
.home h1 {
    color: var(--green);
    font-size: 11.2rem;
    letter-spacing: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.home h2 {
    color: var(--black-2);
    font-size: 5.5rem;
    letter-spacing: .3rem;
    overflow: hidden;
    white-space: nowrap;

}

/* SECTION ABOUT */
.about h1,
.projects h1,
.contact h1 {
    color: var(--black-2);
    font-size: 7.5rem;
    line-height: .9;
    letter-spacing: .3rem;
    -webkit-text-stroke: 1px var(--black-2);
    -webkit-text-fill-color: var(--offwhite);
}


/* SECTION PROJECTS */
.projects h1 {
    text-align: end;
}

/* SECTION CONTACT */
.social ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10rem;
    right: 0;

    gap: 1rem;

    font-size: 4rem;
}

.social ul li {
    color: var(--black-2);
    transition: .5s;
}

.social ul li:hover {
    color: var(--green);
}