main section {
    position: relative;
    width: 80%;
    height: 100vh;

    margin-inline: 10%;
    padding-block: 3%;
}

/* SECTION HOME */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    height: 88vh;

    z-index: 1;
}
/* .blur {
    position: absolute;
    border-radius: 50%;

    background: transparent;
    z-index: -1;
    animation: rotate 4s linear infinite;
    border-left: 10px solid var(--green-opacity);
}
.blur:nth-child(1) {
    width: 280px;
    height: 280px;
    top: 10%;
    left: 8%;

    filter: blur(0px);
}
.blur:nth-child(2) {
    width: 400px;
    height: 400px;
    bottom: 17%;
    right: 20%;

    filter: blur(0px);
} */
.home h1 {
    color: var(--green);
    font-size: 11.2rem;
    letter-spacing: 10px;
}
.home h2 {
    color: var(--black-2);
    font-size: 5.5rem;
    letter-spacing: .3rem;
}

/* SECTION ABOUT */
.about h1,
.projects h1,
.contact h1 {
    color: var(--black-2);
    font-size: 7.5rem;
    line-height: .9;
    letter-spacing: .3rem;
    -webkit-text-stroke: 1px var(--black-2);
    -webkit-text-fill-color: var(--offwhite);
}


/* SECTION PROJECTS */
.projects h1 {
    text-align: end;
}



/* SECTION CONTACT */
.social ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10rem;
    right: 0;

    gap: 1rem;

    font-size: 4rem;
}

.social ul li {
    color: var(--black-2);
    transition: .5s;
}

.social ul li:hover {
    color: var(--green);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    
}