@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
    text-decoration: none;

    scroll-behavior: smooth;
    scroll-margin-top: 12vh;
}

a {
    color: currentColor;
}

::selection {
    background: var(--green);
    color: var(--black-2);
}

:root {
    --green: #DCFE50;
    --green-opacity: #dbfe5050;
    --black: #1A1A1A;
    --black-2: #232323;
    --offwhite: #FBFEEB;
    --offwhite-opacity: #FBFEEB10;

    --font: "Bebas Neue", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: var(--offwhite);
}
::-webkit-scrollbar {
    width: 8px;
    background: var(--offwhite);
}
::-webkit-scrollbar-thumb {
    background: var(--black-2);
}

body {
    width: 100vw;
    height: auto;

    background: var(--offwhite);
    color: var(--black);

    overflow-x: hidden;
}