* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #630268;

    font-family: sans-serif;
}

.introducao {
    margin-top: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;
    width: 100%;
    max-width: 1000px;

    border:  solid 2px white;
}

.introducao img {
    height: 100%;
    width: 30%;
    min-width: 150px;

    border-radius: 15px;
}

.placar {
    height: 100%;
    width: 30%;
    min-width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    background: white;

    border-radius: 15px;
}

.score {
    color: blue;
    font-size: 15px;
}

.score-player {
    font-size: 50px;
    font-weight: bolder;
    color: #534f65;
}

.jogo {
    margin-left: auto;
    margin-right: auto;

    position: relative;

    display: flex;
    justify-content: center;

    margin-top: 150px;

    height: 30%;
    width: 100%;
    max-width: 600px;
}

.triangulo {
    width: 70%;
}

.opcao {
    background: white;

    border-radius: 50%;
    border: 35px solid;

    width: 250px;
    height: 250px;

    animation: opacidade 2s linear, rotatez 1s linear;

    cursor: pointer;
}

.opcao:hover {
    animation: luzDeFundo 2s ease infinite;
}

.opcao:focus {
    animation: luzDeFundo 2s ease infinite;
}

.test, .test1 {
    border-radius: 50px;
}

.container-papel {
    position: absolute;
    top: -130px;
    left: -50px;
}
.container-tesoura {
    position: absolute;
    top: -130px;
    right: -45px;
}
.container-pedra {
    position: absolute;

    bottom: -70px;
}

.opcao img {
    width: 100px;

    transition: 1s;
}

.opcao:hover img {
    transform: rotateY(360deg);
}

.papel {
    border-color: #07d99d;
    box-shadow: inset -7px -7px #d6d6d6;
}
.tesoura {
    border-color: #dd04ae;
    box-shadow: inset 7px 7px #d6d6d6;
}
.pedra {
    border-color: #f7f316;
    box-shadow: inset 7px -7px #d6d6d6;
}
