@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
}

:root {
    --cursor: ./assets/img/cursor.svg;

    --black: rgb(20,20,20);
    --black-2: rgb(25,25,25);
    --white: rgb(255,255,255);
    --pink: rgb(250, 0, 100);
    --green: rgb(100, 255, 0);
    --blue: rgb(0, 120, 255);
    --orange: rgb(255, 120, 0); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: url(./assets/img/cursor.svg), default !important;
}

a {
    color: currentColor;
    cursor: url(./assets/img/cursor-fill.svg), default !important;
}

header {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 25px 0;

    background: var(--black);
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 70px;
}

.logo{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
}
li {
    color: var(--blue);
    font-size: 1.5rem;
    transition: all .4s;
}
li:hover {
    transform: scale(1.3);
    color: var(--orange);
}
.arrow {
    color: var(--green);

    animation: arrow 4s ease-in-out infinite;
    transition: all .5s;
}
.arrow:hover {
    scale:  1.2;
    text-shadow: 0 7px var(--pink),
    0 14px var(--blue);
}


main {
    height: 100vh;
    width: 95vw;

    background: var(--black-2);
}

section {
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    color: var(--white);
    letter-spacing: 10px;
}

.home div h2 {
    font-size: 2.5rem;
}

.home div h1 {
    font-size: 4rem;
    transition: all .4s;
}

.home div h1 span {
    color: var(--blue);
    transition: all .4s;
}

.home div h1:hover {
    transform: scale(1.2);
}

.home div h1:hover span {
    text-shadow: 0 -5px var(--pink),
    0 -9px var(--green);
}

.home div h3 {
    font-size: 1.5rem;
    transition: all .4s;
}
.home div h3 span {
    color: var(--green);
    transition: all .4s;
}
.home div h3:hover {
    transform: scale(1.2);
}
.home div h3:hover span {
    text-shadow: 0 -3px var(--pink),
    0 -6px var(--blue);
}

.home div h4 {
    font-size: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 70px;
    padding: 100px 0 0 0;
}

.about h1 {
    font-size: 3.5rem;
    color: var(--pink);
    transition: all .4s;
}

.about h1:hover {
    transform: scale(1.2);
    text-shadow: 0 -5px var(--white),
    0 -10px var(--green);
}

.about p {
    color: var(--white);
    font-size: 1.3rem;
    max-width: 700px;
    line-height: 2;
    word-wrap: break-word;
    text-align: justify;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 70px;
    padding: 100px 0 0 0;
}

.skills h1 {
    font-size: 3.5rem;
    color: var(--blue);
    transition: all .4s;
}

.skills h1:hover {
    transform: scale(1.2);
    text-shadow: 0 -5px var(--white),
    0 -10px var(--green);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 70px;
    padding: 100px 0 0 0;
}

.project h1 {
    font-size: 3.5rem;
    color: var(--orange);
    transition: all .4s;
}

.project h1:hover {
    transform: scale(1.2);
    text-shadow: 0 -5px var(--white),
    0 -10px var(--pink);
}

footer {
    height: 5vh;
    width: 95vw;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    
    background: var(--black);
    font-size: 0.9rem;
    color: var(--white);
}

.hidden {
    display: none;
}

@keyframes arrow {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -10px);
    }
}