input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-inline: 10%;
    padding-block: 5%;


    display: grid;
    justify-content: center;
    align-content: flex-start;
    gap: 2rem;
    grid-template-columns: repeat(2, 570px);
}

.card {
    position: relative;
    display: flex;
    gap: 1rem;
    background: var(--black-2);
    height: 250px;

    border-radius: .5rem;
}

.div-img {
    width: 170px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: .5rem 0 0 .5rem;

    background: var(--gray);
}
.logo-card {
    width: 150px;
}

.card > div:nth-child(2) {
    width: 64.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-block: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: .3rem;
}

.ponto_turistico {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    margin-bottom: 1rem;
    
    color: var(--gray-2);
}

.info > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: .3rem;
}

.info > div p:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;

    color: var(--white);
    text-transform: uppercase;
}

.text-info{
    font-size: 1.2rem;
    color: var(--blue);
    font-weight: bolder;
}

.btn {
    position: absolute;
    top: -15px;
    right: -15px;

    background: transparent;
    border: none;

    cursor: pointer;
}

.btn:nth-child(4) {
    top: 35px;
    right: -15px;
}

.btn-remove, .btn-edit {
    width: 35px;
}
.model {
    display: none;
}

dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 500px;

    border: 3px solid;
    border-image: linear-gradient(140deg, var(--yellow), var(--blue)) 1;

    background: var(--black-opacity-2);

    
    animation: opacity .7s linear;
}

dialog::backdrop {
    background: var(--black-opacity-2);
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

form div {
    display: flex;
    align-items: center;

    gap: .5rem;
}

label {
    font-size: 1.5rem;
    
    color: var(--blue);
}

input {
    width: 10vw;
    height: 4vh;

    padding: 5px 10px;

    border: none;
    border-radius: .2rem;
    outline: none;

    background: var(--gray);
    color: var(--gray-2);
    font-size: 1rem;
}

input::placeholder {
    color: var(--gray-2);
    font-size: 1rem;
}

.btn-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    gap: .3rem;

    border: 3px solid var(--yellow);
    border-radius: .3rem;

    font-size: .9rem;
    color: var(--white);

    background: transparent;

    cursor: pointer;

    transition: .5s;
}
.btn-form:hover {
    border-color: var(--blue);
    transform: scale(1.05);
}
.btn-form:active {
    transform: scale(.95);
}

.btn-close-dialog {
    position: absolute;
    top: .5rem;
    right: .5rem;

    border: none;
    background: transparent;

    color: var(--blue);
    font-size: 2.5rem;

    cursor: pointer;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}