@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Medula+One&family=Rationale&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(30, 30, 30);
    --black-2: rgb(40, 40, 40);

    --white: rgb(255, 255, 255);

    --purple: rgb(100, 0, 200);

    --gray: rgb(180, 180, 180);
    --gray-2: rgb(60, 60, 60);

    --yellow: rgb(255, 230, 0);

    --font-1: "Medula One", system-ui;
    --font-2: "Rationale", sans-serif;
    --font-3: "Homenaje", sans-serif;

}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--black-2);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-2);
}

.card {
    position: relative;
    width: 700px;
    height: 300px;

    background-color: var(--black);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    gap: 15px;

    border-radius: 5px;

    color: var(--white);

    z-index: 1;

    overflow: hidden;
}

.card::before {
    position: absolute;
    content: '';

    width: 0%;
    height: 100%;

    top: 0;
    left: 0;

    border-radius: 5px;

    background-color: var(--gray-2);

    z-index: -1;

    transition: 1.2s;
}

.card:hover::before {
    width: 100%;
}

.img {
    width: 200px;
    height: 100%;

    background-color: var(--white);

    border-radius: 5px;
}

.infos {
    width: 490px;
    height: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.div-infos {

    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.name {
    font-size: 40px;
    text-transform: uppercase;

    max-width: fit-content;
    word-wrap: break-word;
}

.ramal, .email {
    font-size: 17px;
}

.ramal span, .email span {
    color: var(--gray);
}

.btn-tasks {
    width: 50px;
    height: 50px;
    border: none;

    background-color: transparent;

    font-size: 30px;
    color: var(--white);

    transition: .4s;

    cursor: pointer;
}

.btn-tasks:hover {
    color: var(--yellow);
}